h1 {
    background-color: rgb(161, 158, 158);
    margin: 0;
}

h2 {
    background-color: lightgray;
    margin: 0;
    padding: 10px;
    text-align: right;
    border-bottom: 2px dashed gray;
}

h3 {
    background-color: rgb(182, 182, 182);
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 1px solid black;
}

h4, p {
    margin: 0; 
    padding: 10px;
}

h4 {
    background-color: rgb(153, 149, 149);
    color: white;
    text-align: right;
    border: 1px solid black;
    border-bottom: none;
}

p {
    border: 1px solid black;
    border-top: none;
}

.bloque {
    display: inline-table;
    width: 150px;
    margin: 5px;
    padding: 10px;
    border-left: 2px dashed gray;
    border-right: 2px dashed gray;
    text-align: center;
}
